*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs/ConsoleApplication1/v14/.suo
packages/EntityFramework.5.0.0/Content/App.config.transform
packages/EntityFramework.5.0.0/Content/Web.config.transform
packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
packages/EntityFramework.5.0.0/tools/init.ps1
packages/EntityFramework.5.0.0/tools/install.ps1
packages/EntityFramework.5.0.0/tools/Redirect.config
packages/EntityFramework.5.0.0/tools/Redirect.VS11.config
packages/MySql.Data.6.9.8/CHANGES
packages/MySql.Data.6.9.8/content/app.config.transform
packages/MySql.Data.6.9.8/content/web.config.transform
packages/MySql.Data.6.9.8/Readme.txt
.vs/ConsoleApplication1/v14/.suo
